@import "tailwindcss";

@theme {
  --color-background: #050505;
  --color-foreground: #d4d4d8;
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
  font-family: monospace;
}